
  <div class="admin-container">
    <h2>Gestión de Usuarios</h2>

  <div class="acciones-superiores">
  <button type="button" class="btn-volver" (click)="irARegistroAdmin()">
  ⬅ Volver a gestión de usuarios
</button>

    </div>
    <table *ngIf="!cargando && usuarios.length > 0" class="tabla-usuarios">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Rol</th>
          <th>Especialidades / Obra Social</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuarios">
          <td>{{ user.nombre }} {{ user.apellido }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.tipo_usuario }}</td>

          <td>
            <ng-container [ngSwitch]="user.tipo_usuario">
              <ng-container *ngSwitchCase="'especialista'">
                <span *ngIf="user.especialidades?.length > 0; else sinEsp">
                  {{ user.especialidades.join(', ') }}
                </span>
                <ng-template #sinEsp><i>Sin especialidad</i></ng-template>
              </ng-container>

              <ng-container *ngSwitchCase="'paciente'">
                {{ user.obra_social || 'Sin obra social' }}
              </ng-container>

              <ng-container *ngSwitchCase="'administrador'">
                —
              </ng-container>
            </ng-container>
          </td>

          <td>
            <span
              class="estado"
              [ngClass]="{
                'activo': user.estado === 'activo',
                'pendiente': user.estado === 'pendiente',
                'inhabilitado': user.estado === 'inactivo'
              }"
            >
              {{ user.estado }}
            </span>
          </td>

          <td>
            <button
              *ngIf="user.tipo_usuario === 'especialista'"
              (click)="toggleEstado(user)"
              [disabled]="cargando"
              class="btn-toggle"
            >
              {{ user.estado === 'activo' ? 'Inhabilitar' : 'Habilitar' }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="!cargando && usuarios.length === 0">No hay usuarios registrados.</p>
  </div>

@if (mensaje) {
  <app-mensaje
    [titulo]="mensaje.titulo"
    [mensaje]="mensaje.texto"
    [tipo]="mensaje.tipo"
    (cerrar)="mensaje = null"
  />
}


<p>paciente.component works!</p>
    <button (click)="verturnos()">ver</button>
