.bienvenida {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#95e4f6, #e9fbff);
  padding: 2rem;
}

.bienvenida__imagen {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.bienvenida__imagen img {
  width: 30rem;
  margin-top: 5rem;
}

.bienvenida__mensaje {
  flex: 1;
  max-width: 60rem;
  background: #09607a;
  color: #fff;
  border-radius: 1rem;
  padding: 7rem;
  font-size: 5rem;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 1rem;
  align-self: flex-end;
  margin-right: 0;
  margin-left: 6rem;
}

.bienvenida__subtitulo {
  color: #cdf7ff;
  font-size: 2rem;
  margin-top: 1rem;
}