<div class="navbar">
    <div class="navbar__izquierda">
        <img src="../../../../../assets/images/icon.png" class="logo-izquierda" alt="Logo" />
        <p>Clinica Salud</p>
    </div>

@if (logueado) {
    <div class="navbar__centro"> 
                
        @if (rolUsuario === 'paciente') {
            <a routerLink="/home/paciente" class="text">Inicio</a>
            <a routerLink="/turnos/paciente" routerLinkActive="active" class="text">Mis Turnos</a>
            <a routerLink="/solicitar-turno" routerLinkActive="active" class="text">Solicitar Turno</a>
            <a routerLink="/mi-perfil" routerLinkActive="active" class="text">Mi Perfil</a>
        }
        @if (rolUsuario === 'especialista') {
            <a routerLink="/home/especialista" class="text">Inicio</a>
            <a routerLink="/turnos/especialista" routerLinkActive="active" class="text">Mis Turnos</a>
            <a routerLink="/mi-perfil" routerLinkActive="active" class="text">Mi Perfil</a>
            <a routerLink="/pacientes" routerLinkActive="active" class="text">Pacientes</a>
        }
        @if (rolUsuario === 'administrador') {
            <a routerLink="/home/administrador" class="text">Inicio</a>
            <a routerLink="/usuarios" routerLinkActive="active" class="text"> Usuarios</a>
            <a routerLink="/solicitar-turno" routerLinkActive="active" class="text">Solicitar Turno</a>
            <a routerLink="/turnos/administrador" routerLinkActive="active" class="text">Turnos</a>
            <a routerLink="/mi-perfil" routerLinkActive="active" class="text">Mi Perfil</a>
                        <a routerLink="/estadisticas-admin" routerLinkActive="active" class="text">Estadisticas</a>

        }

    </div>
}

<div class="navbar__derecha">
    @if (!logueado) {
        <button (click)="navegarALogin()" class="button-inicio">Iniciar sesión</button>
        <button (click)="navegarARegistro()" class="button-registro">Registrarse</button>
    } @if (logueado) {
        <button (click)="cerrarSesion()" class="button-registro">Salir</button>
    }
</div>
@if (cargando) {
    <app-spinner />
}