.home-container {
  background: linear-gradient(#cdfff8, #dcfcd3);
  display: block;
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  min-height: 80vh;
}

.titles {
  flex: 1;
  margin-top: 100px;
  animation: slideInFromRight 1.5s ease-out;
}

h1 {
  font-weight: 800;
  font-size: 128px;
  color: #0f4938;
  margin-left: 90px;
}

h3 {
  font-size: 70px;
  color: #1f8d37;
  font-weight: 100;
  margin-left: 150px;
}

.animacion {
  width: 900px;
  height: 600px;
  margin-left: 50px;
  margin-top: 140px;
  animation: slideInFromRight 1.5s ease-out;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
