<div class="historia-clinica-form">
  <form [formGroup]="historiaForm" (ngSubmit)="onSubmit()" class="form-container">

    <!-- DATOS FIJOS -->
    <div class="seccion card">
      <h3>Datos Fijos (Obligatorios)</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Altura *</label>
            <input type="number" formControlName="altura" class="input-text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Peso *</label>
            <input type="number" formControlName="peso" class="input-text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Temperatura *</label>
            <input type="number" formControlName="temperatura" class="input-text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Presión Arterial *</label>
            <input type="text" formControlName="presion" class="input-text">
          </div>
        </div>
      </div>
    </div>

    <!-- DATOS ESPECÍFICOS -->
    <div class="seccion card" formArrayName="datosEspecificos">
      <h3>Datos Específicos (Obligatorios)</h3>

      <div *ngFor="let dato of datosEspecificos.controls; let i=index" [formGroupName]="i" class="form-group">
        <label>Clave</label>
        <input type="text" formControlName="clave" class="input-text" placeholder="Escribí tu clave">

        <label *ngIf="dato.get('tipo_control')?.value === 'texto'">Valor</label>
        <input *ngIf="dato.get('tipo_control')?.value === 'texto'" type="text" formControlName="valor_texto" class="input-text">

        <label *ngIf="dato.get('tipo_control')?.value === 'rango'">Nivel: {{ dato.get('valor_rango')?.value }}%</label>
        <input *ngIf="dato.get('tipo_control')?.value === 'rango'" type="range" formControlName="valor_rango" min="0" max="100">

        <label *ngIf="dato.get('tipo_control')?.value === 'numerico'">Valor:</label>
        <input *ngIf="dato.get('tipo_control')?.value === 'numerico'" type="number" formControlName="valor_numerico" class="input-text">

        <label *ngIf="dato.get('tipo_control')?.value === 'switch'">Valor:</label>
        <label *ngIf="dato.get('tipo_control')?.value === 'switch'" class="switch">
          <input type="checkbox" formControlName="valor_switch">
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <!-- DATOS LIBRES -->
    <div class="seccion card" formArrayName="datosLibres">
      <h3>Datos Adicionales (Opcionales)</h3>

      <div *ngFor="let dato of datosLibres.controls; let i=index" [formGroupName]="i" class="form-group">
        <label>Clave</label>
        <input type="text" formControlName="clave" class="input-text" placeholder="Escribí tu clave">

        <label *ngIf="dato.get('tipo_control')?.value === 'texto'">Valor</label>
        <input *ngIf="dato.get('tipo_control')?.value === 'texto'" type="text" formControlName="valor_texto" class="input-text">

        <label *ngIf="dato.get('tipo_control')?.value === 'switch'">Valor</label>
        <label *ngIf="dato.get('tipo_control')?.value === 'switch'" class="switch">
          <input type="checkbox" formControlName="valor_switch">
          <span class="slider round"></span>
        </label>

        <button type="button" class="btn-eliminar" (click)="removerDatoLibre(i)">Eliminar</button>
      </div>

     <button type="button" class="btn-agregar" 
        (click)="agregarDatoLibre()" 
        [disabled]="datosLibres.length >= 3">
  Agregar dato
</button>
<p *ngIf="datosLibres.length >= 3" class="alert">Máximo 3 datos dinámicos permitidos</p>

    </div>

     <div class="form-group card">
      <label>Reseña para el paciente</label>
      <textarea formControlName="comentario"
                rows="3"
                placeholder="Diagnóstico o comentario final"
                class="form-control"></textarea>
    </div>

    <div class="error-general" *ngIf="error">{{ error }}</div>


    <!-- BOTÓN GUARDAR -->
    <button type="submit" class="btn-guardar" (click)="onSubmit()"  [disabled]="procesando">
      {{ procesando ? 'Guardando...' : 'Guardar Historia Clínica' }}
    </button>
  </form>
</div>
