.filtro-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 2rem;
}

.icono-busqueda {
  position: absolute;
  left: 12px;
  font-size: 1rem;
  color: #666;
  pointer-events: none;
}

.filtro-input {
  width: 100%;
  padding: 10px 40px 10px 36px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  border-color: #008c9e;
}

.btn-limpiar {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #888;
}
