.opciones-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
  flex-wrap: wrap;
}

.button-paciente,
.button-especialista {
  background: linear-gradient(rgb(10, 110, 102), rgb(51, 117, 62));
  border: none;
  border-radius: 15px;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 10rem;
  max-width: 500px;
  width: 100%;
  animation: fadeInUp 0.9s ease-out forwards;

  img {
    width: 500px;
    height: 450px;
    object-fit: contain;
  }

  &:hover {
    background: linear-gradient(#7aad4f, rgb(33, 167, 111));

    color: rgb(8, 78, 31);
    transform: scale(1.05);
  }
}

@media (max-width: 768px) {
  .opciones-container {
    gap: 2rem;
    padding: 2rem;
  }

  .button-paciente,
  .button-especialista {
    font-size: 1.6rem;

    img {
      width: 250px;
      height: 250px;
    }
  }
}

@media (max-width: 480px) {
  .opciones-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
  }

  .button-paciente,
  .button-especialista {
    font-size: 1.4rem;
    padding: 1rem;
    margin-top: 2rem;

    img {
      width: 120px;
      height: 120px;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
