<div class="background-container">
  <a routerLink="/registro" class="enlace-volver"> ← Volver</a>

  <div class="registro-container scrollable-form">
    <h1 class="title">Registro de especialistas</h1>
    <p class="subtexto">Completa con tus datos para poder iniciar sesión</p>

    <form [formGroup]="form" (ngSubmit)="registrar()" class="login-form">
      <div class="form-columns">
        <div class="columna">
          <h3 class="seccion-titulo">Datos personales:</h3>

          <!-- Nombre -->
          <label for="nombre">Nombre:</label>
          <input
            id="nombre"
            formControlName="nombre"
            class="input-inicio"
            [class.input-error]="form.get('nombre')?.touched && form.get('nombre')?.invalid"
            placeholder="Ingresa tu nombre"
          />
          @if (getError('nombre')) {
          <small class="text-danger fade-in textito">{{ getError('nombre') }}</small>
          }

          <!-- Apellido -->
          <label for="apellido">Apellido:</label>
          <input
            id="apellido"
            formControlName="apellido"
            class="input-inicio"
            [class.input-error]="form.get('apellido')?.touched && form.get('apellido')?.invalid"
            placeholder="Ingresa tu apellido"
          />
          @if (getError('apellido')) {
          <small class="text-danger fade-in textito">{{ getError('apellido') }}</small>
          }

          <!-- Edad -->
          <label for="edad">Edad:</label>
          <input
            id="edad"
            formControlName="edad"
            class="input-inicio"
            [class.input-error]="form.get('edad')?.touched && form.get('edad')?.invalid"
            placeholder="Ingresa tu edad"
          />
          @if (getError('edad')) {
          <small class="text-danger fade-in textito">{{ getError('edad') }}</small>
          }

          <!-- DNI -->
          <label for="dni">DNI:</label>
          <input
            id="dni"
            formControlName="dni"
            class="input-inicio"
            [class.input-error]="form.get('dni')?.touched && form.get('dni')?.invalid"
            placeholder="Ingresa tu dni"
          />
          @if (getError('dni')) {
          <small class="text-danger fade-in textito">{{ getError('dni') }}</small>
          }

          <!-- Especialidades -->
          <label for="especialidades">Especialidades:</label>
          <mat-form-field appearance="outline" class="green margin padding">
            <mat-select
              formControlName="especialidades"
              multiple
              placeholder="Seleccioná tus especialidades"
            >
              @for (esp of especialidades; track esp.id) {
              <mat-option [value]="esp.id">{{ esp.nombre }}</mat-option>
              }
              <mat-option value="otra">Otra</mat-option>
            </mat-select>
          </mat-form-field>

          @if (getError('especialidades')) {
          <small class="text-danger fade-in textito">{{ getError('especialidades') }}</small>
          }

          <!-- Especialidades Personalizadas -->
          @if (form.get('especialidades')?.value?.includes('otra')) {
          <div class="especialidades-personalizadas">
            <label class="labelA">Especialidades personalizadas:</label>

            @for (control of especialidadesPersonalizadas.controls; track i; let i = $index) {
            <div class="especialidad-item">
              <input
                type="text"
                [formControl]="control"
                placeholder="Ingresá una especialidad"
                class="input-inicio"
              />

              @if (control.invalid && control.touched) {
              <small class="text-danger fade-in textito">Esta especialidad es requerida</small>
              }

              <button
                type="button"
                class="btn-eliminar"
                (click)="eliminarEspecialidadPersonalizada(i)"
              >
                ✖
              </button>
            </div>
            }

            <button type="button" class="btn-agregar" (click)="agregarEspecialidadPersonalizada()">
              ＋ Agregar otra
            </button>
          </div>
          }
        </div>

        <!-- COLUMNA DERECHA -->
        <div class="columna">
          <h3 class="seccion-titulo">Datos cuenta:</h3>

          <!-- Email -->
          <label for="email">Email:</label>
          <input
            id="email"
            formControlName="email"
            class="input-inicio"
            [class.input-error]="form.get('email')?.touched && form.get('email')?.invalid"
            placeholder="Ingresa tu email"
          />
          @if (getError('email')) {
          <small class="text-danger fade-in textito">{{ getError('email') }}</small>
          }

          <!-- Clave -->
          <label for="clave">Ingrese una contraseña:</label>
          <div class="clave-container">
            <input
              id="clave"
              [type]="verClave ? 'text' : 'password'"
              formControlName="clave"
              class="input-inicio"
              [class.input-error]="form.get('clave')?.touched && form.get('clave')?.invalid"
              placeholder="Ingresa tu contraseña"
            />
            <i
              (click)="toggleVerClave()"
              class="iconito fas"
              [class.fa-eye]="!verClave"
              [class.fa-eye-slash]="verClave"
            ></i>
          </div>

          @if (form.get('clave')?.touched && form.get('clave')?.invalid) {
          <small class="text-danger fade-in textito">{{ getError('clave') }}</small>
          }

          <!-- Repetir -->
          <label for="repiteClave">Repetir contraseña:</label>
          <div class="clave-container">
            <input
              id="repiteClave"
              [type]="verClaveR ? 'text' : 'password'"
              formControlName="repiteClave"
              class="input-inicio"
              [class.input-error]="
                form.get('repiteClave')?.touched && form.get('repiteClave')?.invalid
              "
              placeholder="Ingresa nuevamente la contraseña"
            />

            <i
              (click)="toggleVerClaveR()"
              class="iconito fas"
              [class.fa-eye]="!verClaveR"
              [class.fa-eye-slash]="verClaveR"
            ></i>
          </div>

          @if (form.get('repiteClave')?.touched && form.get('repiteClave')?.invalid) {
          <small class="text-danger fade-in textito">{{ getError('repiteClave') }}</small>
          }

          <!-- Imagen -->
          <div class="file-group">
            <label>Imagen de Perfil</label>

            <div class="custom-file-upload2" (click)="fileInput1.click()">
              <i class="fas fa-upload"></i> Subir imagen
            </div>

            <input #fileInput1 type="file" hidden (change)="onFileSelect($event)" />

            @if (fileName1) {
            <p class="file-name">{{ fileName1 }}</p>
            } @if (getError('imagen')) {
            <small class="text-danger fade-in textito">{{ getError('imagen') }}</small>
            }
          </div>
        </div>
      </div>

      <div class="captcha-container">
        <app-captcha></app-captcha>
      </div>

      <a routerLink="/login" class="fade-in enlace-cuenta">¿Ya tenés cuenta? Iniciá sesión</a>

      <button type="submit" class="submit-button">
        @if (cargando) { Registrando... } @else { INICIAR SESIÓN }
      </button>
    </form>
  </div>
</div>

@if (mensaje) {
<app-mensaje [titulo]="mensaje.titulo" [mensaje]="mensaje.texto" [tipo]="mensaje.tipo" />
} @if (cargando) {
<app-spinner />
}
